@using Microsoft.AspNetCore.Authorization
@model IEnumerable<TourViewModel>
@inject IAuthorizationService AuthorizationService

<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Country
                </th>
                <th>
                    Start date
                </th>
                <th>
                    End date
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@item.Country</span>
                    </td>
                    <td>
                        <span>@item.StartDate</span>
                    </td>
                    <td>
                        <span>@item.EndDate</span>
                    </td>
                    <td>
                        <a asp-controller="Tour" asp-action="Index" asp-route-id="@item.Id">Details</a>
                    </td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <td>
                            <a asp-controller="Tour" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>